DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
BOTFATHER_TELEGTRAM_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_GROUP_CHAT_ID=
IRC_SERVER=
IRC_PORT=
IRC_CHANNEL=
NEXTCLOUD_URL=
NEXTCLOUD_USER=
NEXTCLOUD_PASSWORD=